h1 {
    font-size: 60px;
    color: deeppink;
}
p {
    font-size: 20px;
    color: blue;
}
h2 {
    font-size: 60px;
    color: deeppink;
}

img { padding: 50px
    
}
strong { color: purple;
    
}